

.processes{
    &_container{
        display: flex;
        flex-direction: column;
        background-color: #474747;
        height: 200px;
        position: relative;

    }

    &_items{
        display: flex;
        position: absolute;
        top: 100px;

    }
    
    &_gradient-line{
        height: 4px;
        position: absolute;
        top: 118px;
        left: 55px;
        // z-index: -1;
    }
}

.abcdefg path {
    // stroke: #F5961B;
    // stroke-width: 10px;
}

.abcdefg g {
    fill: #F5961B;
    // stroke-width: 10px;
}